<h1>Edit Kitten #<%= @kitten.id %></h1>

<%= render "kittens/shared/form" %>

<%= button_to "Delete Kitten", @kitten, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this kitten's information?"}  %>

<p> <%= link_to "Back to #{@kitten.name}'s page", @kitten %> </p>