<h1>Kittens</h1>

<% if @kittens.empty? %>
    <p>No kittens yet...create one <%= link_to "here",new_kitten_path %>
<% end %>

<ul>
    <% @kittens.each do |kitten| %>
        <li>
            <%= link_to kitten.name, kitten %> ID: #<%= kitten.id %>
            -
            <%= link_to "Delete Kitten", kitten, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete kitten ##{kitten.id}'s information?"}  %>
        </li>
    <% end %>
</ul>